/*z-index
star: 3
skyBottom: 7
coverBottom: 10
floatingCloud: 10
floatingIsland:8
sun:5
cloud:7
mobile-menu:4
main-block:13
*/

#state{
  color:#A375FF;
  font-size:14px;
}

div{
  margin:0;
  padding:0;
}

.absolute{
  position:absolute;
}

/*--------------- sky ---------------*/

#sky{
  width:100%;
  position:relative;
  background-color:#5CAED9;
  overflow: hidden;
  height:100vh;

}

#skyBottom{
  width:100%;
  height:5%;
  bottom:0;
  background-color:#F8F8F8;
  position:absolute;
  z-index:7;
}

#coverBottom{
  width:100%;
  height:2.5%;
  bottom:0;
  background-color:#F8F8F8;
  position:absolute;
  z-index:10;
}

/*--------------- sky animation ---------------*/

/*@-webkit-keyframes dayNight{
  0% {background-color:#66C1F1;}
  50% {background-color:#002E46;}
  100% {background-color:#66C1F1;}*/
  /*004C74*/
/*}*/


/*--------------- cloud ---------------*/

.cloud{
  width: 280px;
  height: 100px;
  background-color:white;
  border-radius:50px;
  position:relative;
  z-index:7;
}

.cloud::before, .cloud::after{
  content:"";
  background-color:white;
  position:absolute;
  margin:0;
  padding:0;
}
.cloud::before{
  height:200px;
  width:100px;
  border-radius:80px;
  top:-50px;
  left:90px;
  -ms-transform: rotate(-60deg);
   -webkit-transform: rotate(-60deg);
   -moz-transform: rotate(60deg);
   transform: rotate(-60deg);
}

.cloud::after{
  height:200px;
  width:140px;
  border-radius:80px;
  top:-60px;
  left:70px;
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}

/*--------------- left static cloud ---------------*/

.cloudDiv1{
  position:absolute;
  bottom:-30px;
  display:inline;
}

#cl1{
    /*position:absolute;*/
  opacity: 0.6;
  -webkit-transform:scale(1.4,1.4);
  transform:scale(1.4,1.4);
  top:50px;
  left:50px;
}

#cl2{
  /*position:absolute;*/
  opacity: 1;
  -webkit-transform:scale(1.4,1.4);
  transform:scale(1.4,1.4);
  /*background-color: #F8F8F8 ;*/
  z-index:8;
}


#cl3{
  opacity: 1;
  -webkit-transform:scale(1.3,1.3);
  transform:scale(1.3,1.3);

}


/* css animation example */
/*@-webkit-keyframes movecar {
	0% {right: -300px;}
	100% {right: 1800px;}
}
*/


/*--------------- Right floating cloud ---------------*/

.floatingCloud{
  position: absolute;
  right:-90px;
  bottom:30px;
  -webkit-transform:scale(0.4,0.4);
  transform:scale(0.4,0.4);
  z-index:10;
  opacity:0.7;
}

#fc1{
  bottom:20px;
  opacity:0.9;
}


#fc2{
  right:40px;
  bottom:75px;
    /*opacity:0.5;*/
}

#fc3{
  right:150px;
}



/*--------------- sun ---------------*/



#sun {
	width: 90px;
	height:90px;
	background: #F6EF3D;
  background: -webkit-radial-gradient(#FF9900 0%,#FFD119 60%,#F6EF3D 100%);
  background: -o-radial-gradient(#FF9900 0%,#FFD119 60%,#F6EF3D 100%);
  background: -moz-radial-gradient(#FF9900 0%,#FFD119 60%,#F6EF3D 100%);
  background: radial-gradient(#FF9900 0%,#FFD119 60%,#F6EF3D 100%);
	border-radius: 100%;
  position:absolute;
  right:15%;
  top:10%;
  box-shadow:0px 0px 20px #F6EF3D;
	transform-origin: -28vw 7vw;
  z-index:5;
}

#moon {
  height: 80px;
  width:80px;
  border-radius: 100%;
  position:absolute;
  right:16%;
  opacity:0;
  background-color:none;
  top:10%;
  box-shadow:15px 0px 0 9px #F6EF3D;
   -moz-box-shadow:15px 0px 0 9px #F6EF3D;
  transform:rotate(25deg);
  -moz-transform:rotate(25deg);
}


/*--------------- floating island ---------------*/
@media screen and (max-width: 750px) {
  #floatingIsland{
    display:none !important;
  }
  #houseGraphic{
    display:none !important;
  }
}
#floatingIsland{
  position: absolute;
  z-index:8;
  bottom:145px;
  right:-130px;
}

.table{
  display: table;   /* Allow the centering to work */
	margin: 0 auto;
}


#baseList > li{
  display:inline-block;
  margin:0;
  padding:0;
  /*border:none;*/
}

#base{
  width: 0;
  height: 0;
  border-right:250px solid transparent;
  border-top: 200px solid #8A5C2E;
  border-top-right-radius: 50px;
  position:absolute;
}
#base::after{
  content:"";
  position:absolute;
  bottom:0px;
  right:0px;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-top: 200px solid #B89470;
  border-top-left-radius: 50px;
}

.noneStyle{
  list-style: none;
}

.noneStyle > li{
  display:inline-block;
  margin-left:5px;
}


.tree{
  background-color:#00B800;
  height:40px;
  width:20px;
  border-radius: 50px/100px;
  position:relative;
  bottom:10px;
  right:100px;
}

.tree::after{
  top:40px;
  left:8px;
  content:"";
  height:30px;
  width:4px;
  background-color:#CC9900;
  position:absolute;
  /*margin-left:*/
}

#t1{
  transform:scale(1.2,1.2);
  background-color:#005C00;
}

#t2{
  margin-left:20px;
  transform:scale(1.4,1.4);
  bottom:20px;
  background-color:#005C00;
}

#t3{
  margin-left:30px;
  transform:scale(1.3,1.3);

}
#t4{
  margin-left:27x;

}
#t5{
  margin-left:10px;

}



#grass{
  position:relative;
  right:150px;
  background-color:#00A600;
  width:300px;
  height:15px;
  border-radius:40px;
  margin-left:50px;
}

#mountain{
  position:absolute;
  bottom:6px;
  right:160px;
  margin-left:100px;
  width:0;
  height:0;
  border-left: 140px solid transparent;
  border-right:100px solid transparent;
  border-bottom: 180px solid #006600;
  /*-webkit-transform:scale(0.7,0.7);*/
}

#mountain::after{
  position:absolute;
  content:"";
  width:0;
  height:0;
  border-left: 110px solid transparent;
  border-right:70px solid transparent;
  border-bottom: 150px solid #338533;
  top:30px;
  left:-180px;
  /*right:1px;*/
}


/*---------------  star ---------------*/
.star{
  left:50%;
  top:50%;
  position:absolute;
  width:3px;
  height:3px;
  border-radius:10px;
  background-color:#5CAED9;
  opacity:0;
  z-index:2;
}


/*--------------- house ---------------*/
#houseGraphic{
  position:absolute;
  bottom:23%;
  left:12%;
  width:200px;
  height:auto;
  z-index:4;
}

.baloon{
  background-color: #dfc348;
  width: 23px;
  height: 28px;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius:100%;
  display: inline-block;
  position: relative;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  transform: rotate(20deg);
  z-index:4;
}

.baloon::before{
  top:27px;
  left:10px;
  content:"";
  position:absolute;
  width:1px;
  height:35px;
  background-color:black;
}

#bl1{
  top:12px;
  left:10px;
}

#bl2{
  top:-20px;
  left:11px;
  background-color: #00FF00;
  /*right:15px;*/
}

#bl2::before{
  height:53px;
}

#bl3{
  left:3px;
  background-color: purple;
}
#bl3::before{
  height:21px;
}
#bl4{
  bottom:8px;
  left:1px;
  background-color: red;
}
#bl4::before{
  height:47px;
}
#bl5{
  right:14px;
  top:20px;
    background-color: blue;
}


#houseContainer{
  position:absolute;
  transform:rotate(5deg);
}

#roofTop{
  position:absolute;
  width:0px;
  height:0px;
  border-right:50px solid transparent;
  border-left:50px solid transparent;
  border-bottom: 45px solid #9794B2;
}
#roofMiddle{
  position:absolute;
  /*bottom:0;*/
  top:4px;
  left:-46px;
  width:0px;
  height:0px;
  border-right:46px solid transparent;
  border-left:46px solid transparent;
  border-bottom: 41px solid white;
}

#upperHouse{
  position:absolute;
  /*bottom:0;*/
  top:7px;
  left:-38px;
  width:0px;
  height:0px;
  border-right:38px solid transparent;
  border-left:38px solid transparent;
  border-bottom: 34px solid #D4D19B;
}

#houseBase{
  position:absolute;
  width:76px;
  height:50px;
  left:12px;
  background-color: #D4D19B;
  top:45px;
}

.window{
  position:absolute;
  background-color:#FFFF66;
  height:18px;
  width:18px;
  top:13px;
  left:-9px;
}

.lineV{
  position:absolute;
  background-color:black;
  height:18px;
  width:1px;
  left:9px;
}

.lineH{
  position:absolute;
  background-color:black;
  height:1px;
  width:18px;
  top:9px;
}

#door{
  position:absolute;
  background-color:#A35200;
  height:33px;
  width:20px;
  left:9px;
  bottom:0;
}

#knob{
  position:absolute;
  background-color:black;
  height:4px;
  width:4px;
  left:12px;
  top:16px;
  /*bottom:0;*/
  border-radius:5px;
}

#w2{
  top:18px;
  left:45px;
  transform:scale(1.7,1.4);
}

@media screen and (max-width:750px){
  #cl1, #cl2{
    -webkit-transform:scale(1.1,1.1);
    transform:scale(1.1,1.1);
  }
}
